/*全体的な設定*/a {
  text-decoration: none;
}
body {
  font-size: 18px;
}
.center {
  text-align: center;
}
.padding-b40 {
  padding-bottom: 40px;
}
.padding-10 {
  padding: 10px;
}
.header {
  height: 100px;
  width: 100%;
}
.header__fix {
  position: fixed;
}
.header__color {
  background: royalblue;
}
.header__color a {
  color: white;
}
.header__title {
  font-size: 28px;
  margin-bottom: 10px;
}
.header-under {
  margin-top: 100px;
}
/*タイトル*/.page-title {
  font-size: 28px;
}
/*ポートフォリオエリア*/.portfolio {
  width: 1000px;
  margin: 0 auto;
  /*border: 1px solid black;*/
  text-align: center;
}
.portfolio .portfolio-title {
  font-size: 20px;
}
.portfolio .portfolio-table {
  /*text-align: center;*/
}
.portfolio .portfolio-table tr {
  /*width: 100px;*/
  /*border: 1px solid black;*/
}
.portfolio .portfolio-table tr th {
  background-color: #079;
  padding: 5px;
  /*width: 100px;*/
  /*border: 1px solid black;*/
}
.portfolio .portfolio-table tr td {
  background-color: #09a;
  padding: 5px;
  width: 200px;
  /*border: 1px solid black;*/
}
.portfolio-table-note {
  width: 400px;
  /*border: 1px solid black;*/
}
/*トピックス表示エリア*/.topix-box {
  margin-top: 40px;
}
.header-menu {
  display: flex;
  margin-left: 50px;
}
.header-menu__list {
  padding: 10px;
}
.portfolio-header {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.portfolio-header__title {
  font-size: 18px;
}
.portfolio-box {
  height-min: 200px;
  padding: 20px;
  display: flex;
  border-top: 1px solid #ccc;
}
.portfolio-box__image {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.portfolio-box__info {
  padding: 20px;
}
.portfolio-box__info--title {
  font-size: 22px;
  margin-bottom: 10px;
}
.portfolio-box__info--nav {
  font-size: 14px;
  margin-bottom: 10px;
}
.portfolio-box__info--text {
  font-size: 16px;
}
